CLIENT_ID=00
OAUTH_URL={{oauth-server}}/oauth/authorize
REDIRECT_URI=http://localhost:6789
RESPONSE_TYPE=code
STATE=HHXJq2aiXtY31ne2TjjDyGc6cbMSfq1l8PUgDdxi
PORT_TEMP_SERVER=6789
SECRET_KEY={{secret_key}}
BASE_URI={{oauth-server}}/
BACKEND_URL={{backend-base-url}}/
BASTION_IP={{bastion-ip}}
GUACAMOLE_URL={{guacamole-url}}
